td {
    text-align: right;
}

h3 {
    text-align: center;
}

.div-inner-form {
    border: 3px solid #5cb85c;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    margin-top: 1.1em;
}

.add_to_cart {
    margin-top: 5px;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.clear {
    clear: both;
}

.th40 {
    width: 40%;
}

.th10 {
    width: 10%;
}

.th20 {
    width: 20%;
}

.th15 {
    width: 15%;
}

.th5 {
    width: 5%;
}